body{
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


.main-header {
    height: 170px;
}

.header {
    font-size: 20px;
    float: left;
    width: 33%;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
}

.date-year {
    margin: 10px;
}

.date-year:not(:nth-of-type(1)):before {
    content: '/';
    margin-right: 15px;
    color: #4c4c4c;
}

.date-year:not(:nth-of-type(1)) {
    color: #4c4c4c;
}

.button-order {
    border: 1px solid red;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.menu-icon {
    vertical-align:  middle;
    padding-bottom: 3px;
}

.main-title {
    width: 100%;
    text-align: center;
    padding: 200px 0;
    background-color: transparent;
}

.title-main {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 0.5;
}

.title-sub {
    margin-top: 5px;
    font-size: 20px;
    opacity: 0.8;
}

.main-content {
    background-color: #f5f5f5;
    height: 900px;
}

.content-article {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

.article-date {
    color: #4c4c4c;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.article-title {
    font-size: 25px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.article-image {
    width: 1050px;
    height: 350px;
    background: url('../images/article-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 30px 0;
    text-align: center;
}

.article-info {
    font-size: 19px;
    max-width: 90%;
    margin: 0 auto;
}